python-dotenv
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
langchain-google-genai==2.1.8
langchain-groq==0.3.6
langchain-openai==0.3.28
langchain-text-splitters==0.3.8
pypdf
faiss-cpu
ipykernel
azure-identity==1.23.1
structlog
PyMuPDF
# -e . #I am already running pip install -e .azure-identity==1.23.1
